---
BasedOnStyle: LLVM
ColumnLimit: 100
IndentWidth: 2
---
Language: Cpp
AlignAfterOpenBracket: BlockIndent
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
BinPackArguments: false
BinPackParameters: OnePerLine
...

